*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #aaa;
  font-family: "Nunito", sans-serif;
  color: #f9f7f6;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: [header-start sidebar-start] 1fr 1fr 1fr [header-end] 100vh [sidebar-end];
  grid-template-columns: 1fr 90vw 1fr 5rem;
  font-size: 300%; }
  @media only screen and (max-width: 75em) {
    .container {
      grid-template-columns: 1fr 85vw 1fr 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-columns: 1fr 80vw 1fr 5rem; } }
  @media only screen and (max-width: 700px) {
    .container {
      grid-template-columns: 1fr 80vw 1fr; } }

.navbar {
  background-color: black;
  grid-row: 3 / 4;
  grid-column: 1 / 4; }

.portfolio {
  background-color: orangered;
  grid-row: 4 / 5;
  grid-column: 2 / 3; }

.search {
  background-color: blueviolet;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  position: sticky;
  top: 0; }

.sidebar {
  background-color: blue;
  grid-row: sidebar-start / sidebar-end; }

sidebar div {
  position: sticky;
  top: 0; }
  @media only screen and (max-width: 700px) {
    sidebar div {
      display: none; } }

.tickers {
  background-color: goldenrod;
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(12 fr1); }
  @media only screen and (max-width: 1900px) {
    .tickers {
      grid-template-columns: repeat(11 fr1); } }
  @media only screen and (max-width: 1700px) {
    .tickers {
      grid-template-columns: repeat(10 fr1); } }
  @media only screen and (max-width: 1500px) {
    .tickers {
      grid-template-columns: repeat(9 fr1); } }
  @media only screen and (max-width: 1300px) {
    .tickers {
      grid-template-columns: repeat(8 fr1); } }
  @media only screen and (max-width: 1100px) {
    .tickers {
      grid-template-columns: repeat(7 fr1); } }
  @media only screen and (max-width: 900px) {
    .tickers {
      grid-template-columns: repeat(6 fr1); } }
  @media only screen and (max-width: 700px) {
    .tickers {
      grid-template-columns: repeat(5 fr1); } }
  @media only screen and (max-width: 500px) {
    .tickers {
      grid-template-columns: repeat(4 fr1); } }
  @media only screen and (max-width: 400px) {
    .tickers {
      grid-template-columns: repeat(3 fr1); } }

.ticker__1 {
  grid-column: 1 / 1;
  background-color: red;
  text-align: center; }

.ticker__2 {
  grid-column: 2 / 2;
  background-color: blue;
  text-align: center; }

.ticker__3 {
  grid-column: 3 / 3;
  background-color: green;
  text-align: center; }

.ticker__4 {
  grid-column: 4 / 4;
  background-color: black;
  text-align: center; }
  @media only screen and (max-width: 400px) {
    .ticker__4 {
      display: none; } }

.ticker__5 {
  grid-column: 5 / 5;
  background-color: orange;
  text-align: center; }
  @media only screen and (max-width: 500px) {
    .ticker__5 {
      display: none; } }

.ticker__6 {
  grid-column: 6 / 6;
  background-color: purple;
  text-align: center; }
  @media only screen and (max-width: 700px) {
    .ticker__6 {
      display: none; } }

.ticker__7 {
  grid-column: 7 / 7;
  background-color: red;
  text-align: center; }
  @media only screen and (max-width: 900px) {
    .ticker__7 {
      display: none; } }

.ticker__8 {
  grid-column: 8 / 8;
  background-color: blue;
  text-align: center; }
  @media only screen and (max-width: 1100px) {
    .ticker__8 {
      display: none; } }

.ticker__9 {
  grid-column: 9 / 9;
  background-color: green;
  text-align: center; }
  @media only screen and (max-width: 1300px) {
    .ticker__9 {
      display: none; } }

.ticker__10 {
  grid-column: 10 / 10;
  background-color: black;
  text-align: center; }
  @media only screen and (max-width: 1500px) {
    .ticker__10 {
      display: none; } }

.ticker__11 {
  grid-column: 11 / 11;
  background-color: orange;
  text-align: center; }
  @media only screen and (max-width: 1700px) {
    .ticker__11 {
      display: none; } }

.ticker__12 {
  grid-column: 12 / 12;
  background-color: purple;
  text-align: center; }
  @media only screen and (max-width: 1900px) {
    .ticker__12 {
      display: none; } }
